$blackColor: #000000;

.loading {
  font-size: 50px;
  position: absolute;
  top: 50%;
}

.button_see_more {
  background-color: $blackColor;
  cursor: pointer;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button_container {
  display: flex;
  justify-content: center;
}
