.App {
  display: flex;
  justify-content: center;
  align-content: center;
}
$midnight: #000000;
$clouds: #ffffff;

.field {
  display: flex;
  position: realtive;
  margin: 5em auto;
  width: 700px;
  flex-direction: row;
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.field > input[type='text'],
.field > button {
  display: block;
  font: 1.2em 'Open sans';
}

.field > input[type='text'] {
  flex: 1;
  padding: 0.6em;
  border-left: none;
  border-top: none;
}

.field > button {
  padding: 0.6em 0.8em;
  background-color: #b4c0c0;
  color: #fff;
  border: none;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $midnight;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $midnight;
    background: white;
    transition: all 0.35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    background: darken($midnight, 10%);
  }
}

.create_task {
  display: flex;
}
.taskByData {
  display: flex;
  width: 270px;
  margin: 8px;
  cursor: pointer;
}

.mainScreen {
  width: 400px;
}

.tasks_for_day_box {
  margin-top: -50px;
  padding: 8px;
  width: 400px;
  margin-left: 80px;
}

.flex {
  display: flex;
}

.list-filter-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  height: auto;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1px;
  background-color: #f8f8f8;
}
.list-img {
  height: 190px;
  width: auto;
  position: absolute;
  right: 0px;
  left: 0px;
}
.contenr-list-img {
  width: 400px;
  background-color: black;
}
.hiddn-list-img {
  width: 220px;
  height: 193px;
  position: relative;
  left: 100px;
  background-color: red;
}
.product-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  font-family: 'Open Sans';
  overflow: hidden;
  transition: 0.4s linear;
}
.product-img {
  cursor: pointer;
  transition: 1s ease-in-out;
}
.product-img:hover {
  transform: scale(1.1);
}
.product-img img {
  display: block;
  width: 100%;
}
.product-list {
  margin-top: 15px;
}
.product-list h3 {
  font-weight: 700;
  color: #39404b;
  margin: 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 2;
}
.price {
  cursor: pointer;
  color: #e34d38;
  display: block;
  margin-bottom: 12px;
}
.stars {
  height: 14px;
  line-height: 14px;
  margin: 7px 0;
}
.stars:before {
  content: '\f005\f005\f005\f005\f006';
  color: #efb71c;
  font-size: 14px;
  font-family: FontAwesome;
}
.actions {
  border-top: 1px solid #eee;
  padding-top: 4px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
}
.actions:after {
  content: '';
  display: table;
  clear: both;
}
.add-to-cart,
.add-to-links {
  float: left;
}
.cart-button {
  text-decoration: none;
  color: #8c877c;
  padding-right: 20px;
  border-right: 1px solid #ddd;
  transition: 0.4s linear;
}
.cart-button:before {
  content: '\f07a';
  font-family: FontAwesome;
  margin-right: 10px;
}
.add-to-cart:hover .cart-button,
.wishlist:hover,
.compare:hover {
  color: #e34d38;
}
.wishlist,
.compare {
  color: #8c877c;
  padding-left: 20px;
  transition: 0.4s linear;
}
.wishlist:after,
.compare:after {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 13px;
}
.wishlist:after {
  content: '\f004';
}
.compare:after {
  content: '\f079';
}
.cart-button {
  font-size: 17px;
}

.button_see_more {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
